---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content';
import Footer from '../components/Footer.astro'
---

<Layout title="Welcome to Astro.">
	<div class=" flex-1 flex flex-col text-black/80 font-semibold relative">
		<Content client:load/>
		<Footer />
	</div>
</Layout>

